<ul>
<li>Contact <%=@contact.id%></li>
<li>Name is <%=@contact.full_name%></li>
<li>Email is <%=@contact.email%></li>
<li>Notes are <%=@contact.note%></li>
</ul>

<form action='/contacts/<%= @contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value='Delete'>
</form>

<a href = '/contacts/<%=@contact.id%>/edit'>Edit</a>
